<%- include("partials/header") -%>

<div class="container-fluid">
    <h2><%= headingContent %></h2>
    <h2><%= name %></h2>
    <h3 style="text-align: center;"><%= response %></h3>
</div>

<%- include("partials/footer") -%>